@using SharedLibrary.Models
@model IEnumerable<Post>
@inject SharedLibrary.Services.AuthService AuthService

<div>

    @foreach (var post in Model.OrderByDescending(p => p.CreationDate))
    {
        var imagePath = "/images/users/" + post.User.ImagePath ??
        "/images/default-profile.png";
        var postPath = "/images/posts/" + post.ImagePath;
        var profileLink = Url.Page("/Account/Profile", new { userId = post.User.UserId });
        var commentLink = Url.Page("/Post/View", new { id = post.PostId });
        bool isLikedByCurrentUser = post.Likes.Any(l => l.UserId == AuthService.GetCurrentlyLoggedInUser()?.UserId);
        <div class="border-b pb-6 mt-4">
            <div class="flex flex-row justify-between items-center">
                <div class="flex flex-row gap-2 items-center">
                    <a href="@profileLink">
                        <img class="object-cover w-10 h-10 rounded-full" src="@imagePath" alt="Profile Image">
                    </a>
                    <div>
                        <a href="@profileLink" class="font-semibold">@post.User.Username</a>
                        @if (!string.IsNullOrWhiteSpace(post.Text))
                        {
                            <p class="text-sm">@post.Text</p>
                        }
                    </div>
                </div>
                <div class="ml-auto flex flex-row gap-2">
                    @if (AuthService.GetCurrentlyLoggedInUser()?.Status != Status.Suspended)
                    {
                        @if (AuthService.GetCurrentlyLoggedInUser()?.UserId == post.UserId)
                        {
                            <form method="post" asp-page="/Post/DeleteHandler" asp-route-postId="@post.PostId" class="">
                                <button type="submit" class="text-red-500 hover:text-red-700">
                                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                                    </svg>
                                </button>
                            </form>
                        }
                        else
                        {

                            <form method="post" asp-page="/Post/FlagHandler"
                                asp-route-fromUserId="@AuthService.GetCurrentlyLoggedInUser()?.UserId"
                                asp-route-postId="@post.PostId" class="d-inline">
                                <button type="submit" title="Flag Post" class="text-yellow-400 hover:text-yellow-600">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                        stroke="currentColor" class="w-5 h-5">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M3 3v1.5M3 21v-6m0 0 2.77-.693a9 9 0 0 1 6.208.682l.108.054a9 9 0 0 0 6.086.71l3.114-.732a48.524 48.524 0 0 1-.005-10.499l-3.11.732a9 9 0 0 1-6.085-.711l-.108-.054a9 9 0 0 0-6.208-.682L3 4.5M3 15V4.5" />
                                    </svg>

                                </button>
                            </form>
                        }
                    }
                </div>

            </div>
            @if (!string.IsNullOrWhiteSpace(post.ImagePath))
            {
                <div class="bg-pink-50 w-full rounded-lg p-4 mt-4">
                    <img class="m-auto rounded-lg max-h-64" src="@postPath">
                </div>
            }
            @if (AuthService.GetCurrentlyLoggedInUser()?.Status != Status.Suspended)
            {

                <div class="flex flex-row gap-4 mt-2">
                    <form method="post" asp-page="/Post/LikeHandler" asp-route-postId="@post.PostId"
                        asp-route-isLiked="@isLikedByCurrentUser">
                        <button type="submit" class="flex flex-row gap-1 items-center">
                            @if (isLikedByCurrentUser)
                            {
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5}
                                    stroke="currentColor" class="w-6 h-6 text-pink-500 fill-pink-500">
                                    <path strokeLinecap="round" strokeLinejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312
                2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                                </svg>
                            }
                            else
                            {
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5}
                                    stroke="currentColor" class="w-6 h-6 text-pink-500">
                                    <path strokeLinecap="round" strokeLinejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312
                2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                                </svg>

                            }
                            <span class="text-sm">@post.Likes.Count</span>
                        </button>
                    </form>
                    <a href="@commentLink" class="flex flex-row gap-1 items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6 text-pink-500">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74
            1.04.586 1.641a4.483 4.483 0 0 1-.923 1.785A5.969 5.969 0 0 0 6 21c1.282 0 2.47-.402 3.445-1.087.81.22
            1.668.337 2.555.337Z" />
                        </svg>
                        <span>@post.Comments.Count</span>
                    </a>
                </div>
            }
            else
            {
                <div class="flex flex-row gap-4 mt-2">
                    <div>
                        <button disabled class="flex flex-row gap-1 items-center cursor-not-allowed">
                            @if (isLikedByCurrentUser)
                            {
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5}
                                    stroke="currentColor" class="w-6 h-6 text-gray-500 fill-gray-500">
                                    <path strokeLinecap="round" strokeLinejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312
                2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                                </svg>
                            }
                            else
                            {
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5}
                                    stroke="currentColor" class="w-6 h-6 text-gray-500">
                                    <path strokeLinecap="round" strokeLinejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312
                2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                                </svg>

                            }
                            <span class="text-sm">@post.Likes.Count</span>
                        </button>
                    </div>
                    <div class="flex flex-row gap-1 items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6 text-gray-500">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74
            1.04.586 1.641a4.483 4.483 0 0 1-.923 1.785A5.969 5.969 0 0 0 6 21c1.282 0 2.47-.402 3.445-1.087.81.22
            1.668.337 2.555.337Z" />
                        </svg>
                        <span>@post.Comments.Count</span>
                    </div>
                </div>
            }
        </div>
    }
</div>
